---
layout: default
---
<h1>{{ page.title }}</h1>
{%- if page.subtitle %}
<p class="subtitle">{{ page.subtitle }}</p>
{% endif -%}

{% if page.calendar %}
<iframe src="{{ page.calendar }}" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
</iframe>
<style>
@media screen and (max-width: 760px) {
  iframe {
    width: 100% !important;
  }
}
</style>
{% else %}
{{ content }}
{% endif %}

<!-- <section>
  <div style="clear: both"></div>
  <p class="backarrow"><a href="{% link meetings/index.md %}">← Back to all posts</a></p>
</section> -->


