---
layout: framework
sidebar: meeting-list
---

{%- if site.posts.size > 0 -%}

  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}

  {% assign filter = '%Y' %}
  {% assign meetings_posts = site.posts | where_exp: 'p', "p.categories contains 'Meetings'" %}
  {% include functions.html func='get_datetimes' collection=meetings_posts %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}
  {% include views/segments.html collection=meetings_posts %}

{%- endif -%}
