---
layout: default
---
<h1>{{ page.title }}</h1>
{%- if page.subtitle %}
<p class="subtitle">{{ page.subtitle }}</p>
{% endif -%}
<p class="byline">
{% if site.show_author %}{{ page.author | default: site.author }} — {% endif %}
{{ page.date | date: "%B %-d, %Y" }}
</p>

{% if page.notes %}
<a href="{{ page.notes }}" target="_blank" rel="noopener">Click to open notes.</a>
<iframe src="{{ page.notes | append: '/preview' }}" style="width: 100%; height: 100vh; border: 0" allowfullscreen>
</iframe>
<style>
@media screen and (max-width: 760px) {
  iframe {
    width: 100% !important;
  }
}
</style>

{% else %}
{{ content }}
{% endif %}






