---
layout: default
---
<h1>{{ page.title }}</h1>
{%- if page.subtitle %}
<p class="subtitle">{{ page.subtitle }}</p>
{% endif -%}
<p class="byline">
{% if site.show_author %}{{ page.author | default: site.author }} — {% endif %}
{{ page.date | date: "%B %-d, %Y" }}
</p>

{% if page.notes %}
<iframe src="{{ page.notes }}" style="width: 55%; height: 50vh; border: 0" allowfullscreen>
</iframe>
<style>
@media screen and (max-width: 760px) {
  iframe {
    width: 100% !important;
  }
}
</style>
{% else %}
{{ content }}
{% endif %}

<section>
  <div style="clear: both"></div>
  <p class="backarrow"><a href="{% link meetings/index.md %}">← Back to all posts</a></p>
</section>
